@page
@model emigrant.App.Presentacion.Pages.EntidadCol.ListEntidadModel;

@{
   var BuscarEntidad = Model.BuscarEntidad; 
}

<h1>Listado de Entidades de Atencion</h1>
<p>
    @Html.ActionLink("Listar Todo", "./List")
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar x Nombre: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" />
        <a asp-page=".\CrearEntidad" class="btn btn-primary">Nuevo</a>
    </p>
}

<table class="table">
    @foreach (var entidades in Model.Entidades)
    {
        <tr>
            <td>@entidades.Id</td>
            <td>@entidades.Nit</td>
            <td>@entidades.Name</td>
            <td>@entidades.Direccion</td>
            <td>@entidades.Telefono</td>
            <td>@entidades.Ciudad</td>
            <td>@entidades.Departamento</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-formadorId="@entidades.Id">
                    Detalle</a>
            </td>
                       <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-formadorId="@entidades.Id">
                    Editar
                </a>
            </td> 

            <td>
                <a class="btn btn-danger table-btn" asp-page="./Delete" asp-route-formadorId="@entidades.Id">
                    Eliminar
                </a>
            </td> 
        </tr>
    }
</table>